.border{
    border: 1px solid #e1e7ec;
}

.border-lt{
    border-left: 1px solid #e1e7ec;
}

.border-rt{
    border-right: 1px solid #e1e7ec;
}

.select{
    width: 30%;
    border: 1px solid #999c9f;
}

.expense-title{
    font-size: 1.25rem;
    font-weight: 500;
}

.italic{
    font-style: italic;
    font-size: 0.75rem;
    color:#999c9f;
}

.card-font{
    font-size: 0.75rem;
    font-weight: 400;
}

.pa-top{
    padding-top: 15px;
}

.line-h{
    line-height:10px;
    padding: 15px 0px 0px 2px;
}

.fw{
    font-weight: 600;
}

.fw2{
    font-weight:700;
}

.red{
    color: rgb(173, 37, 37);
}